@{
    ViewData["Title"] = "Đặt lại mật khẩu";
}

<h1>@ViewData["Title"]</h1>
<p>
    Đã đặt lại mặt khẩu. <a asp-controller="Account" asp-action="Login" asp-route-returnUrl="@ViewBag.ReturnUrl">Đăng nhập tại đây</a>.
</p>