.ant-layout-header {
    background-color: white;
    color: black;
}
.tblicon {
    margin-right: 6px;
    font-size: 18px;
    color: rgb(91, 91, 233);
  }
  .tblicon:hover {
    color: red;
    font-size: 20px;
    cursor: pointer;
  }