<p>Danh sách nhóm quyền</p>
<nz-layout>
    <nz-header>
        <button nz-button nzType="primary" (click)="createTplModal(editTitle, editContent, editFooter)">
            <span>Thêm</span>
        </button>
    </nz-header>
    <nz-content>
        <app-table
            [rows]="roles"
            [pageIndex]="pageIndex"
            [pageSize]="pageSize"
            [totalRecords]="totalRecords"
            [hasPagination]="true"
            (pageIndexChange)="changePage($event)"
            (pageSizeChange)="changeSize($event)"
            [loading]="loading"
        >
            <app-column header="ID" key="id"></app-column>
            <app-column header="Tên nhóm quyền" key="name"></app-column>
            <app-column header="Mô tả" key="description"></app-column>
            <app-column header="Tác vụ" [dataType]="COL_DATA_TYPE.ACTION"></app-column>
        </app-table>
    </nz-content>
    <nz-footer> </nz-footer>
</nz-layout>

<section id="modalEdit">
    <ng-template #editTitle>
        <span>Chỉnh sửa nhóm quyền</span>
    </ng-template>
    <ng-template #editContent let-params>
        <p>some contents...</p>
        <p>some contents...</p>
        <p>{{ params.value | json }}</p>
    </ng-template>
    <ng-template #editFooter let-ref="modalRef">
        <button nz-button (click)="ref.destroy()">Đóng</button>
        <button nz-button nzType="primary" (click)="destroyTplModal(ref)" [nzLoading]="tplModalButtonLoading">
            Lưu
        </button>
    </ng-template>
</section>
