@{
    ViewData["Title"] = "Trang chủ Web Base Sever";
}

<div class="text-center">
    <h1 class="display-4">Chào mừng bạn đến với trang Web Base</h1>

    <div class="m-5"></div>

    <h2><a href="/swagger">Danh sách APIs</a></h2>
    <h2><a href="/.well-known/openid-configuration">openid-configuration</a></h2>
</div>