<nz-table
    #table
    nzHideOnSinglePage
    nzShowSizeChanger
    [nzLoading]="loading"
    [nzData]="rows"
    [nzPageIndex]="pageIndex"
    [nzPageSize]="pageSize"
    [nzTotal]="totalRecords"
    [nzFrontPagination]="!hasPagination"
    (nzPageIndexChange)="pageIndexChange.emit($event)"
    (nzPageSizeChange)="pageSizeChange.emit($event)"
    [nzShowQuickJumper]="true"
    [nzItemRender]="renderItemTemplate"
    [nzShowTotal]="totalTemplate"
    [nzLoadingIndicator]="loadingSpin"
>
    <thead>
        <tr>
            <th
                *ngFor="let column of columns"
                [nzShowSort]="column.sortable"
                [nzSortOrder]="column.sortOrder"
                [nzSortFn]="column.sortFn"
                (nzSortOrderChange)="column.sortChange.emit({ key: column.key, order: $event })"
            >
                <ng-container *ngIf="column.tplHeader">
                    <ng-container *ngTemplateOutlet="column.tplHeader.template"></ng-container>
                </ng-container>
                <ng-container *ngIf="!column.tplHeader">
                    {{ column.header }}
                </ng-container>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of table.data">
            <td *ngFor="let column of columns">
                <ng-container *ngIf="column.tplCell">
                    <ng-container
                        *ngTemplateOutlet="column.tplCell.template; context: { $implicit: data }"
                    ></ng-container>
                </ng-container>
                <ng-container *ngIf="!column.tplCell">
                    <ng-container [ngSwitch]="column.dataType">
                        <ng-container *ngSwitchCase="COL_DATA_TYPE.DATE">
                            {{ data[column.key] | date: 'dd/MM/yyyy' }}
                        </ng-container>
                        <ng-container *ngSwitchCase="COL_DATA_TYPE.ACTION">
                            <I *ngIf="actions.includes('details')" class="fa fa-info tblicon" title="Xem chi tiết" (click)="details(data)"></I>
                            <I *ngIf="actions.includes('edit')" class="fa fa-edit tblicon" title="Sửa" (click)="edit(data)"></I>
                            <I *ngIf="actions.includes('delete')" class="fa fa-trash tblicon" title="Xóa" (click)="delete(data)"></I>
                            <I *ngIf="actions.includes('approve')" class="fa fa-check tblicon" title="Phê duyệt" (click)="approve(data)"></I>
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                            {{ data[column.key] }}
                        </ng-container>
                    </ng-container>
                </ng-container>
            </td>
        </tr>
    </tbody>
</nz-table>
<ng-template #totalTemplate let-total>{{ total }} trang</ng-template>
<ng-template #renderItemTemplate let-type let-page="page">
    <ng-container [ngSwitch]="type">
        <a *ngSwitchCase="'page'">{{ page }}</a>
        <a *ngSwitchCase="'prev'"><</a>
        <a *ngSwitchCase="'next'">></a>
        <a *ngSwitchCase="'prev_5'"><<</a>
        <a *ngSwitchCase="'next_5'">>></a>
    </ng-container>
</ng-template>
<ng-template #loadingSpin>
    <nz-spin [nzSpinning]="loading" [nzSize]="'large'">
      <h3>Loading...</h3>
    </nz-spin>
</ng-template>

