<nz-breadcrumb
    [nzAutoGenerate]="true"
    [nzRouteLabel]="'customBreadcrumb'"
    [nzSeparator]="iconBreadcrumb"
></nz-breadcrumb>
<ng-template #iconBreadcrumb><i class="fa fa-arrow-right"></i></ng-template>
<nz-layout>
    <nz-header>
        <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
            <div nz-col nzSpan="18">
                <button
                    appPermission
                    appFunction="SYSTEM_FUNCTION"
                    appAction="CREATE"
                    nz-button
                    nzType="primary"
                    (click)="createTplModal(createTitle, createContent, createFooter)"
                >
                    <span>Thêm</span>
                </button>
            </div>
            <div nz-col nzSpan="6">
                <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                    <input
                        appPermission
                        appFunction="SYSTEM_FUNCTION"
                        appAction="VIEW"
                        (keyup.enter)="search()"
                        type="text"
                        [(ngModel)]="keyword"
                        nz-input
                        placeholder="Tên tài khoản, email, sdt"
                    />
                </nz-input-group>
                <ng-template #suffixIconButton>
                    <button
                        appPermission
                        appFunction="SYSTEM_FUNCTION"
                        appAction="VIEW"
                        (click)="search()"
                        nz-button
                        nzType="primary"
                        nzSearch
                    >
                        <i nz-icon nzType="search"></i>
                    </button>
                </ng-template>
            </div>
        </div>
    </nz-header>
    <nz-content>
        <nz-table
            class="table table-sm table-bordered table table-hover"
            [nzLoading]="loading"
            [nzLoadingIndicator]="loadingSpin"
            #expandTable
            [nzData]="dataDisplay"
            nzTableLayout="fixed"
            [nzLoading]="loading"
        >
            <thead>
                <tr>
                    <th class="bg-info tbl-head">Tên</th>
                    <th class="bg-info tbl-head">Mã</th>
                    <th class="bg-info tbl-head">Đường dẫn</th>
                    <th class="bg-info tbl-head">Tác vụ</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let data of expandTable.data">
                    <ng-container *ngFor="let item of mapOfExpandedData[data.id]">
                        <tr *ngIf="(item.parent && item.parent.expand) || !item.parent">
                            <td
                                [nzIndentSize]="item.level! * 20"
                                [nzShowExpand]="item.children.length > 0"
                                [(nzExpand)]="item.expand"
                                (nzExpandChange)="collapse(mapOfExpandedData[data.id], item, $event)"
                            >
                                {{ item.data.name }}
                            </td>
                            <td>{{ item.data.id }}</td>
                            <td>{{ item.data.url }}</td>
                            <td>
                                <I
                                    appPermission
                                    appFunction="SYSTEM_FUNCTION"
                                    appAction="VIEW"
                                    class="fa fa-info tblicon"
                                    title="Xem chi tiết"
                                    (click)="details(item.data)"
                                ></I>
                                <I
                                    appPermission
                                    appFunction="SYSTEM_FUNCTION"
                                    appAction="UPDATE"
                                    class="fa fa-edit tblicon"
                                    title="Sửa"
                                    (click)="edit(item.data)"
                                ></I>
                                <I
                                    appPermission
                                    appFunction="SYSTEM_FUNCTION"
                                    appAction="DELETE"
                                    class="fa fa-trash tblicon"
                                    title="Xóa"
                                    (click)="delete(item.data)"
                                ></I>
                                <I
                                    appPermission
                                    appFunction="SYSTEM_FUNCTION"
                                    appAction="UPDATE"
                                    class="fa fa-wrench tblicon"
                                    title="quản lý hành động"
                                    (click)="addRole(item.data)"
                                ></I>
                            </td>
                        </tr>
                    </ng-container>
                </ng-container>
            </tbody>
        </nz-table>
    </nz-content>
    <nz-footer> </nz-footer>
</nz-layout>

<ng-template #closeIcon>
    <i class="fa fa-times-circle" style="font-size: 30px;"></i>
</ng-template>

<ng-template #editTitle>
    <h3>Chỉnh sửa chức năng</h3>
</ng-template>
<ng-template #createTitle>
    <h3>Thêm mới chức năng</h3>
</ng-template>
<ng-template #detailTitle>
    <h3>Chi tiết chức năng</h3>
</ng-template>
<ng-template #addRoleTitle>
    <h3>Quản lý hành động</h3>
</ng-template>

<ng-template #createContent let-params>
    <form nz-form [formGroup]="funcForm">
        <div class="alert alert-danger" role="alert" *ngIf="errorMsg">
            {{ errorMsg }}
        </div>
        <nz-form-item>
            <nz-form-label [nzSpan]="6">Mã</nz-form-label>
            <nz-form-control
                [nzSpan]="14"
                [nzValidateStatus]="id?.errors ? 'error' : 'success'"
                nzHasFeedback
                [nzErrorTip]="idErrorTpl"
            >
                <input nz-input type="text" formControlName="id" />
            </nz-form-control>
            <ng-template #idErrorTpl>
                <app-validation-msg
                    [entityForm]="funcForm"
                    fieldName="id"
                    [validationMessages]="validation_messages"
                ></app-validation-msg>
            </ng-template>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="6">Tên chức năng</nz-form-label>
            <nz-form-control
                [nzSpan]="14"
                [nzValidateStatus]="name?.errors ? 'error' : 'success'"
                nzHasFeedback
                [nzErrorTip]="nameErrorTpl"
            >
                <input nz-input type="text" formControlName="name" />
            </nz-form-control>
            <ng-template #nameErrorTpl>
                <app-validation-msg
                    [entityForm]="funcForm"
                    fieldName="name"
                    [validationMessages]="validation_messages"
                ></app-validation-msg>
            </ng-template>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSpan]="6">Chức năng cha</nz-form-label>
            <nz-form-control [nzSpan]="14">
                <input nz-input type="text" formControlName="parentId" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="6">Đường dẫn</nz-form-label>
            <nz-form-control
                [nzSpan]="14"
                [nzValidateStatus]="url?.errors ? 'error' : 'success'"
                nzHasFeedback
                [nzErrorTip]="urlErrorTpl"
            >
                <input nz-input type="text" formControlName="url" />
            </nz-form-control>
            <ng-template #urlErrorTpl>
                <app-validation-msg
                    [entityForm]="funcForm"
                    fieldName="url"
                    [validationMessages]="validation_messages"
                ></app-validation-msg>
            </ng-template>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSpan]="6">Class icon</nz-form-label>
            <nz-form-control [nzSpan]="14">
                <input nz-input type="text" placeholder="ví dụ: fa-trash" formControlName="icon" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSpan]="6">Thứ tự</nz-form-label>
            <nz-form-control
                [nzSpan]="14"
                [nzValidateStatus]="sortOrder?.errors ? 'error' : 'success'"
                nzHasFeedback
                [nzErrorTip]="sortOrderErrorTpl"
            >
                <input nz-input type="number" formControlName="sortOrder" />
            </nz-form-control>
            <ng-template #sortOrderErrorTpl>
                <app-validation-msg
                    [entityForm]="funcForm"
                    fieldName="sortOrder"
                    [validationMessages]="validation_messages"
                ></app-validation-msg>
            </ng-template>
        </nz-form-item>
    </form>
</ng-template>

<ng-template #detailContent let-params>
    <div nz-row>
        <div nz-col nzSpan="6">
            <label>Họ:</label>
        </div>
        <div nz-col nzSpan="14">
            <span>{{ params.value.firstName }}</span>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="6">
            <label>Tên:</label>
        </div>
        <div nz-col nzSpan="14">
            <span>{{ params.value.lastName }}</span>
        </div>
    </div>

    <div nz-row>
        <div nz-col nzSpan="6">
            <label>Tên tài khoản:</label>
        </div>
        <div nz-col nzSpan="14">
            <span>{{ params.value.userName }}</span>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="6">
            <label>Email:</label>
        </div>
        <div nz-col nzSpan="14">
            <span>{{ params.value.email }}</span>
        </div>
    </div>

    <div nz-row>
        <div nz-col nzSpan="6">
            <label>Số điện thoại:</label>
        </div>
        <div nz-col nzSpan="14">
            <span>{{ params.value.phoneNumber }}</span>
        </div>
    </div>

    <div nz-row>
        <div nz-col nzSpan="6">
            <label>Ngày sinh:</label>
        </div>
        <div nz-col nzSpan="14">
            <span>{{ params.value.dob | date: 'dd/MM/yyyy' }}</span>
        </div>
    </div>
</ng-template>

<ng-template #addRoleContent let-params>
    <div class="alert alert-danger" role="alert" *ngIf="errorMsg">
        {{ errorMsg }}
    </div>
    <nz-transfer
        [nzDataSource]="listRole"
        [nzTitles]="['Quyền chưa thêm', 'Quyền được thêm']"
        [nzListStyle]="transferStyles"
        nzShowSearch
        [nzFilterOption]="filterOption"
        (nzChange)="change($event)"
    ></nz-transfer>
</ng-template>

<ng-template #editFooter let-ref="modalRef">
    <button nz-button (click)="ref.destroy()">Đóng</button>
    <button
        type="submit"
        [disabled]="editForm.invalid"
        nz-button
        nzType="primary"
        (click)="saveChange(ref, ACTION_TYPE.UPDATE)"
        [nzLoading]="tplModalButtonLoading"
    >
        Lưu
    </button>
</ng-template>

<ng-template #addRoleFooter let-ref="modalRef">
    <button nz-button (click)="ref.destroy()">Đóng</button>
    <button
        type="submit"
        nz-button
        nzType="primary"
        (click)="saveChange(ref, ACTION_TYPE.ADDROLE)"
        [nzLoading]="tplModalButtonLoading"
    >
        Lưu
    </button>
</ng-template>

<ng-template #createFooter let-ref="modalRef">
    <button nz-button (click)="ref.destroy()">Đóng</button>
    <button
        type="submit"
        [disabled]="funcForm.invalid"
        nz-button
        nzType="primary"
        (click)="saveChange(ref, ACTION_TYPE.CREATE)"
        [nzLoading]="tplModalButtonLoading"
    >
        Lưu
    </button>
</ng-template>

<ng-template #detailFooter let-ref="modalRef">
    <button nz-button (click)="ref.destroy()">Đóng</button>
</ng-template>

<ng-template #loadingSpin>
    <nz-spin [nzSpinning]="loading" [nzSize]="'large'">
        <h3>Loading...</h3>
    </nz-spin>
</ng-template>
